@media screen and (max-width: 600px) {

    .top-block {
        padding-right: 20px;
    }

    .hidden-mobile {
        display: none !important;
    }

    .contact>td,
    .hello>td,
    .showme>td,
    .footer>td {
        padding: 0 20px !important;
    }

    .social-icons td {
        display: inline-block;
        width: 39px;
        height: 39px;

        a {
            text-align: center;
            line-height: 45px;

            img {
                display: inline-block;
                max-width: 22px;
            }
        }
    }

    table {
        width: 100% !important;

        &.hidden-desktop {
            display: table !important;
        }

        &.hidden-mobile {
            display: none;
        }

        tr {
            &.hidden-desktop {
                display: table-row !important;
            }

            &.hidden-mobile {
                display: none;
            }

            td {
                &.hidden-desktop {
                    display: table-cell !important;
                }

                &.hidden-mobile {
                    display: none;
                }
            }
        }
    }

    .header {
        .header-table {
            height: 75px;

            .header-logo-container {
                padding-left: 20px !important;

            }

            .header-navigation-container {
                padding-right: 0;

                
            }

            .hidden-desktop {
                .products-navigation {
                    margin: 0 !important;
                    margin-bottom: 10px !important;
                    padding: 0 20px !important;

                    td {
                        &:after {
                            display: none;
                        }

                        a {
                            font-size: 14px !important;
                            line-height: 16px !important;
                            color: #fff !important;
                            opacity: 1;
                            white-space: nowrap;
                            display: block;
                            margin-bottom: 10px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

    

    .articles {
        >td {
            padding: 20px !important;
        }

        .pl-20 {
            padding: 20px !important;
        }

        img {
            min-width: 100%;
        }
    }

    .social {
        .hidden-desktop {
            text-align: center;
        }
    }

    .contact {
        .hidden-desktop {
            .title {
                h2 {
                    margin-top: 30px;
                }
            }

            .avatar {
                display: inline-block;
                width: 100px;

                img {
                    width: 100%;
                    max-width: 100px;
                    margin-top: 19px;
                }

            }

            .contact-info {
                display: inline-block;
                width: calc(100% - 100px);
                box-sizing: border-box;
                padding-left: 15px !important;
                padding-top: -4px !important;

                .name {
                    margin: 0;
                    margin-bottom: 5px !important;
                    margin-top: 5px;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000;
                    font-weight: 700;
                }

                .position {
                    margin: 0 !important;
                    font-size: 12px;
                    line-height: 14px;
                    color: #000;
                }
            }
        }

        .social-icons {
            td {
                margin: 30px 15px 20px 0 !important;
                width: 38px !important;
                height: 38px !important;

                a {
                    line-height: 56px !important;

                    img {
                        max-width: 32px !important;
                        width: 32px !important;
                    }
                }

                .instagram {
                    line-height: 62px !important;
                }

                .facebook {
                    line-height: 62px !important;

                    img {
                        width: 15px !important;
                    }
                }
            }
        }

        .address {
            font-size: 12px;
            line-height: 20px;
            margin-right: 10px;
            color: #9ca4b1;

            &.second {
                font-size: 12px;
                line-height: 20px;
                color: #9ca4b1;
            }
        }
    }

    
}

@media screen and (max-width: 500px) {
    table {
        width: 100%;
    }

    .header {
        .header-table {
            

            .header-navigation-container {

                .header-navigation {

                    li {
                        display: none;
                    }
                }
            }
        }
    }
}
